# This is a global gitignore file.
#
# To make it active, you need to run this once in each repository:
#
#       git config --global core.excludesfile ~/.gitignore

;               # vim typos
;w              # vim typos

# Vim swapfiles
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# OpenOffice / LibreOffice
.~lock.*#
