<style>
    /* --==##  links aren't underlined unless you :hover  ##==-- */
    a:link:hover {text-decoration:underline; background-color:#aaf; color:#000!important}
    a:visited:hover {background-color:#faf; color:#000!important}
    a {text-decoration:none}
    @media print { a {text-decoration:underline} }

    /* --==##  make h1/h2/h3 stand out with bars  ##==-- */
    h1, h2, h3 {padding:0.3em; border-top:2px solid #000; border-bottom:2px solid #000;
    background-color:#ccc; margin-top:2em}
    body>h1:first-child, body>h2:first-child, body>h3:first-child {margin-top:0}

    /* --==##  table cells have a nice border  ##==-- */
    table.wikitable {border-collapse:collapse}
    table.wikitable td, table.wikitable th {border:1px solid #aaa; padding:0.3em}
    table.wikitable th {background-color:#000; color:#fff}
    table.wikitable th a {color:#aaf}
    table.wikitable th a:visited {color:#faf}
    table.wikitable tr.header td, table.wikitable thead td {border:#fff}

    /* --==##  kbd has gray background  ##==-- */
    kbd {background-color:#bbb}

    /* --==##  selectively make ul/ol spaced (non-cascading)  ##==-- */
    ul.spaced > li, ol.spaced > li {margin-bottom:1em}
    .spaced > li > .spaced {margin-top:1em}

    /* --==##  CSS reset  ##==-- */
    a img {border:0}

    /* --==##  text is grayed-out for digressions  ##==-- */
    .digression     {color:#aaa}
    span.digression {margin-left:2em}
    .digression     a {color:#aaf}
    .digression     a:visited {color:#e9e}
</style>


