<title>title goes here</title>      <xmp theme="slate" style="display:none;">



# Markdown text goes in here

## Chapter 1

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua.



</xmp><script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>

