<style>
    /* --==##  make h2/h3 stand out with bars  ##==-- */
    /*
    h2, h3 {padding:0.3em; border-top:2px solid #000; border-bottom:2px solid #000; background-color:#ccc; margin-top:2em}
    body>h2:first-child, body>h3:first-child {margin-top:0}
    h3 {padding-left:1em; background-color:#eee; border-top:1px solid #888; border-bottom:1px solid #888}
    */

    /* --==##  make ul/ol spaced out  ##==-- */
    li {margin-bottom:0.7em}
    li > ul, li > ol {margin-top:0.7em}
</style>

# title

test 1 2 3
